/* deviseのCSS */
.container{
  margin:0 auto;
  text-align: center;
  font-family: serif;
  width: 500px;
  margin-top: 80px;
}
.container h2{
  padding-bottom: 15px;
  font-size: 23px;
}
.new_user{
  background-color: #ffebe3;
  border: 1px solid #808080;
}
.container h2{
  font-weight: bold;
}
.field{
  padding: 10px 10px;
}
.form{
  padding: 3px 12px;
}
.actions{
  padding-bottom: 10px;
}
.submit{
  background-color: #ffebe3;
  padding: 6px 12px;
  border: 2px solid #111111;
}
.submit:hover{
  border:1px dashed #111111;
  margin-bottom: 2px;
}

/* uploadのCSS */
.text-form{
  padding: 3px 12px;
  width: 450px;
}
