/* deviseのCSS */
.container{
  margin:0 auto;
  text-align: center;
  font-family: serif;
  width: 500px;
  margin-top: 80px;
}
.container h2{
  padding-bottom: 15px;
  font-size: 23px;
  font-weight: bold;
}
.new_user{
  background-color: #ffebe3;
  border: 1px solid #808080;
}
.field{
  padding: 10px 10px;
}
.form{
  padding: 3px 12px;
}
.actions{
  padding-bottom: 10px;
}
.submit{
  background-color: #F06C85;
  padding: 5px 30px;
  color: #fff;
  border:solid 1px #ffffff;
  border-radius: 5px;
  font-size: 14px;
  font-family: sans-serif;
}
.submit:hover{
  background-color: #F8BAC5;
}
.google-form{
  background-color: #ea4335;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 0;
  margin: 12px 140px;
  border-radius: 5px;
  border:solid 1px #ffffff;
}
.google-form:hover{
  background-color: #f08080;
}
.google{
  color: #ffffff;
  font-family: sans-serif;
  text-decoration: none;
}
/* uploadのCSS */
.text-form{
  padding: 3px 12px;
  width: 450px;
}
.img-upload{
  display: flex;
  justify-content: center;
}
#image-preview img{
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
.click-upload{
  padding-bottom: 10px;
}
.click-upload p{
  font-size: 13px;
  color: #db7093;
}
.file-form{
  font-size: 15px;
}
.attention-message{
  font-size: 13px;
  padding:10px 0;
}
.image-text{
  padding: 10px 0px;
}
.genre-select{
  padding: 2px 46px;
}
/* エラーメッセージ */
.login-flash-message{
  margin-top: 10px;
  font-size: 13px;
  color: #dc143c;
}
.error-alert{
  margin-top: 10px;
}
.error-message{
  font-size: 13px;
  color: #dc143c;
}
/* ユーザー詳細画面 */
.profile{
  width: 500px;
  height: 380px;
  margin: 0 auto;
  margin-bottom: 80px;
  font-family: serif;
  text-align: center;
  background-color: #ffebe3;
  border: 1px solid #808080;
}
.profile2{
  padding:60px 0;
}
.profile p{
  font-size: 18px;
  font-weight: bold;
}
.profile-show{
  background-color: #fff;
  padding: 6px 0;
  margin: 10px 90px;
  border-radius: 3px;
}
/* ユーザー編集画面 */
.user-delete{
  margin-top: 20px;
}
.user-delete p{
  font-size: 14px;
  color: #dc143c;
  padding-bottom: 5px;
}
.user-back{
  color: #111111;
}
.user-back:hover{
  color: #808080;
}