*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: serif;
}
main{
  width: 100vw;
  margin: 0 auto;
  background-color: #fffcf9;
}
.text-image{
  width:100vw;
  height:60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:
  url("top-image.jpg") no-repeat center;
  background-size: cover;
  margin: 0 auto;
}
.text-image p{
  font-size: 55px;
  font-weight: bold;
  color: #111111;
  text-shadow:1px 0 0 #fff,0 1px 0 #fff,-1px 0 0 #fff,0 -1px 0 #fff;
}
/* ログインボタン */
.grid-6{
  text-align: center;
}
.post {
  display: inline-block;
  max-width: 180px;
  font-size: 16px;
  color: #111111;
  background-color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border: 2px solid #111111;
  margin: 20px 10px;
}
.post:hover{
  border-style: dashed;
}
/* トップページ */
.title-all{
  width: 100%;
  text-align: center;
}
.title{
  display: inline-block;
  max-width: 700px;
  padding: 15px 0;
  border-top:1px solid #db7093;
  border-bottom: 1px solid #db7093;
  text-align: center;
  margin: 30px 5px;
}
.title h1{
  font-size: 20px;
}

.favorite-list{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 20px 20px;
}
.favorite-list1{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 85px;
  margin: 0px 20px 20px;
}
.sample-image{
  width: 80vw;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 25px;
}
.sample-image2{
  font-weight: bold;
}
/* 使い方説明 */
.howto{
  text-align: center;
  background-color: #fff;
  border: dashed 2px #ffebe3;
  margin: 0 130px 10px 130px;
}
.go{
  color: #db7093;
  font-weight: bold;
  font-size: 18px;
  padding-top: 60px;
  text-align: center;
}
/* サイドアイコン */
.side-icon{
  position: fixed;
  bottom: 80px;
  right: 50px;
  padding: 0 2px;
  border: solid 2px #111111;
  border-radius: 5px;
  background-color: #fdf5ec;
  text-align: center;
}
.bear{
  width: 50px;
  height: 60px;
}
/* URLへ飛ぶボタン */
.shop-name{
  color: #111111;
  font-size: 15px;
  padding: 8px 10px;
  text-decoration: none;
  background-color: #fff;
  border: 2px solid #000;
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
}
.shop-name:hover{
  -webkit-box-shadow: -4px -4px 0 #000;
  box-shadow: -4px -4px 0 #000;
}
.shops-name{
  margin: 10px 0px 90px 0px;
}
.shop-name1{
  margin: 10px 0px;
}
.sample1{
  width: 200px;
  height: 200px;
  margin: 10px 10px;
}
/* ヘッダー２のCSS */
.top-header2{
  background-color:#ffebe3;
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.title-page{
  color: #111111;
  font-weight: bold;
  padding: 5px 10px;
  margin-left: 10%;
  background-color: #fff;
  text-decoration: none;
}
.btn-list{
  list-style: none;
  display: flex;
  margin-right: 10%;
  margin-top: 4px;
}
.my-page{
  color: #111111;
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
  border-bottom: dashed 1px #111111;
}
.my-page1{
  display: none;
}
.post1, .post2 {
  max-width: 180px;
  font-size: 16px;
  color: #111111;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  margin-left: 10px;
  border: 2px solid #111111;
}
/* フッターCSS */
.footer-name{
  background-color:#ffebe3;
  margin: 0 auto;
}
.footer-name p{
  text-align: center;
  color: #111111;
  padding: 20px 0px;
}
/* 詳細ページのCSS */
.show-image{
  padding: 80px 0;
  display: flex;
  justify-content: center;
}
.link-list li{
  display: inline-block;
  margin: 40px 0 0 10px;
}
.link-list2{
  padding: 10px 10px;
}
.link-text1{
  color: #111111;
  padding: 10px 14px;
  border: solid 2px #111111;
  text-decoration: none;
  background-color: #fff;
}
.link-text2{
  color: #111111;
  padding: 10px 14px;
  border: solid 2px #111111;
  text-decoration: none;
  background-color: #fff;
}
.link-name1{
  font-size: 20px;
  margin: 50px 10px 10px;
}
.link-name{
  font-size: 20px;
  margin: 10px 10px;
}
.link-name2{
  margin: 10px 10px;
}

.link-text1:hover,.link-text2:hover{
  border-style: dashed;
}
.sample2{
  width: 300px;
  height: 300px;
  margin: 0px 10px;
}
/* ページネーション */
.paginate{
  text-align: center;
  color: #111111;
}
.page a{
  color: #F06C85;
  text-decoration: none;
}
.first a, .prev a, .next a, .last a{
  color: #F06C85;
}
/* 検索フォーム */
.search-form{
  text-align: center;
  padding-bottom: 10px;
}
.search-input{
  margin-bottom: 10px;
  font-size: 16px;
}
.search-btn{
  font-family: sans-serif;
  font-size: 16px;
  padding: 0 5px;
  background-color: #fdf5ec;
  border-radius: 3px;
}
.back-page{
  text-align: center;
  padding-bottom: 60px;
}
.back{
  color: #db7093;
  background-color: #fdf5ec;
  padding: 5px 5px;
  border-radius: 3px;
}
/* お気に入り詳細 */
#favorite{
  position: fixed;
  bottom: 80px;
  right: 50px;
  color: darkgray;
  font-size: 40px;
}
.heart2{
  color: #F0897F;
}
.parent{
  position: relative;
}
.like{
  position: absolute;
  top: 34px;
  left: 10px;
  border-top: 25px solid #F0897F;
  border-right: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid #F0897F
}
.parent p{
  position: absolute;
  top: 36px;
  left: 12px;
  color: #fff;
  transform: rotate(-45deg);
}