/* タブレット表示時 */
@media (max-width: 1024px) {
  .show-image{
    flex-wrap: wrap;
    text-align: center;
  }
  .text-image p{
    font-size: 48px;
  }
  .howto, .howto1{
    margin: 0 60px 10px 60px;
    font-size: 15px;
  }
}
@media (max-width: 599px) {
  .sample1{
    width: 180px;
    height: 180px;
    margin: 10px 10px;
  }
  .post2{
    display:none;
  }
  .post1{
  font-size: 14px;
  padding: 7px 16px;
  margin-left: 6px;
  }
  .btn-list{
    margin-right: 5%;
  }
  .title-page{
    margin-left: 5%;
  }
  .container,.profile{
    width: 450px;
  }
  .text-form{
    width: 430px;
  }
  .text-image{
    height:50vh;
    position: relative;
  }
  .image{
    width:100%;
    height:50vh;
  }
  .text-image p{
    font-size: 40px;
  }
  /* サイドアイコン */
  .side-icon{
    position: fixed;
    bottom: 80px;
    right: 30px;
    padding: 0 2px;
    font-size: 15px;
  }
  .bear{
    width: 40px;
    height: 50px;
  }
  .howto, .howto1{
    margin: 0 40px 10px 40px;
    font-size: 15px;
  }
}
